@import url("./commonStyles.css");

body {
    background-color: var(--dark-green);
}

.form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    width: 100%;
    padding: 0 1rem;
}

.comp {
    top: 50%;
}

.form h1 {
    text-align: left;
    color: var(--white);
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1.5rem;
}

.text-field {
    display: flex;
    flex-direction: column;
}

.text-field label {
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 0.3rem;
}

.drop-down,
.text-field input,
textarea {
    padding: 0.6rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--grey);
    background-color: var(--light-blue);
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 0.5em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 5px;
}

.text-field input[type="file"] {
    padding: 0.6rem 0.2rem;
    cursor: pointer;
    color: var(--grey);
}

input::file-selector-button {
    color: var(--light-green);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.drop-down-content {
    height: 110px;
    width: 92%;
    overflow-y: auto;
    margin-top: 0.2rem;
    position: absolute;
    top: 25%;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    outline: none;
    color: var(--grey);
    background-color: var(--light-blue);
    display: none;
}

.active {
    display: block;
}

.drop-down-content li {
    margin: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 3px 0;
}

.drop-down-content li:hover {
    background-color: var(--dark-green);
}

.drop-down-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.drop-down-content::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 5px;
}

.form-body button {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--light-green);
    color: var(--light-green);
    background: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.form-body p {
    color: var(--light-green);
    cursor: pointer;
    transition: 0.3s ease;
}